/* колір WEB, Focused, Active states Links; background кнопки #4D5AE5  */
:root { --brand-color: #4D5AE5;}
/* background;  zagolovok                 #2E2F42; */
:root { --background: #2E2F42;}
:root { --zagolovok: #2E2F42;}
/* колір тексту                         #434455 */
:root { --text: #434455;}
/*    studio; back ground             #F4F4FD*/
:root { --studio: #F4F4FD;}
/*  текст підвал                  #E7E9FC  */ 
:root { --accent: #E7E9FC;}
/*  #E5E5E5 */

body {   background-color: #FFFFFF; color: var(--text);     font-family: 'Roboto', sans-serif; }
.list { list-style: none;}

/* кнопки, зсилки */
.link {text-decoration-line:none}
.link:hover {color: var(--brand-color); text-decoration-line: underline; background-color: #FFFFFF}
.link:focus { color: var(--background); }

/* Хедер */
.logo-web {color: var(--brand-color);}
.logo  {color: var(--zagolovok);}
.nav-list {color: var(--zagolovok);}
.auth-list { color: var(--text);}

/* section-hero */
.section-hero {background-color: var(--background);}
h1 {color: #FFFFFF;}
.sec-hero-button {background-color: var(--brand-color); color: #FFFFFF;}

/* section-workmeth */
.section-title {color: var(--zagolovok);}


/* section-doing */
.section-title {color: var(--zagolovok);}

/* section-ourteam */
.section-ourteam {background: var(--studio);}
.section-title {color:  var(--zagolovok);}
.section-title-h3 {color:  var(--zagolovok); }
.sec-ourteam-mark {background-color: #FFFFFF; 
    width: 264px;
    height: 380px;
    left: 156px;
    top: 1783px;}
.sec-ourteam-tom {background-color: #FFFFFF; 
    width: 264px;
    height: 380px;
    left: 444px;
    top: 1783px;}
.sec-ourteam-camila {background-color: #FFFFFF; 
    width: 264px;
    height: 380px;
    left: 732px;
    top: 1783px;}
.sec-ourteam-daniel {background-color: #FFFFFF; 
    width: 264px;
    height: 380px;
    left: 1020px;
    top: 1783px;}

/* footer*/
footer {width: 1440px;
    height: 310px;
    left: 0px;
    top: 2283px; 
    background-color: var(--background);}
.footer-text{color: var(--accent);}
.logo-footer{color: var(--studio);}